---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-llvmlibc-*,-cppcoreguidelines-pro-type-union-access'
CheckOptions:
  - key:             cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
  - key:             hicpp-signed-bitwise.IgnorePositiveIntegerLiterals
    value:           '1'
  - key:             readability-magic-numbers.IgnoredFloatingPointValues
    value:           '1.0;2.0;100.0'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: file
